<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ActivityView</servlet-name>
        <servlet-class>com.activities.controller.ActivityView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>com.activities.controller.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSubActivity</servlet-name>
        <servlet-class>com.activities.controller.AddNewSubActivity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivityView</servlet-name>
        <url-pattern>/ActivityView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/ActivityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSubActivity</servlet-name>
        <url-pattern>/AddNewSubActivity</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
